
.container{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 6px;
}

.home h1{
    display: block;
    background-color: rgb(66, 148, 148);
    color: white;
    padding: 10px;
    border-radius: 4px;
}